[2015-10-22 16:47] awwester opened #8 "enable setting map options?"
I'm wanting to set `scrollwheel: false` but am not seeing any way to set these options. Is this something that is already included that I'm missing, or is it a possibility for an enhancement?
http://stackoverflow.com/a/2330272/2548934

[2015-10-22 18:33] asennikov commented on #8
Yeah, it's actually the next thing I was planning to work on. So, there's a good chance I'll add parameter to set custom map options this weekend.

[2015-10-25 20:49] asennikov commented on #8
Added in https://github.com/asennikov/ember-g-map/pull/9

[2015-10-25 20:49] #8 closed

[2015-12-18 19:28] ofridagan opened #12 "Deprecation in Ember 2.1"
Hi, I get the following deprecation:
[code]
Do you want me to open a PR for this?

[2015-12-18 19:32] ofridagan commented on #12
oops, sorry that was from another addon I had.

[2015-12-18 19:32] #12 closed

[2015-12-20 18:34] FelixAkk opened #13 "Marker as function of address (in addition to lat/long)"
Hi!

I was wondering if something like this is possible:
[code]
That would be a more user friendly way of entering a location in a lot of use cases (anything urban).

Thanks so much for making a working Google Maps component! I first stumbled (probably like most) upon https://github.com/huafu/ember-google-map, but sadly seems to have fallen out of maintenance. Perhaps you guys can work together on

[2015-12-22 19:18] asennikov commented on #13
Hi @FelixAkk!

It's a good idea, I suppose I should implement something like that.

The only thing is that I don't want to increase complexity in current `{{g-map-marker}}`. Instead, I'm thinking about adding another `{{g-map-address-marker}}` component which will be using `{{g-map-marker}}` under the hood.

And of course if anybody has some spare time for this – PRs are welcomed and highly apprec

[2015-12-23 16:54] FelixAkk commented on #13
That sounds great what you proposed! :) I'm still quite an Ember newbie, so for now I won't be able to make a PR, but when I've got some more experience and it's still open perhaps I can get back to it.

[2016-01-03 13:32] asennikov commented on #13
Hey @FelixAkk, I've added `{{g-map-address-marker}}` component, check it out.

[2016-01-03 13:32] #13 closed

[2016-01-03 21:48] FelixAkk commented on #13
Nice! :)

Not to bummer after your fine work, but it seems there's a bug where the map doesn't render when only containing address markers. When it contains also at least 1 lat/long marker everything works fine.

[2016-01-04 07:37] asennikov commented on #13
Thx for catching it, I think it will be easy to fix.

[2016-01-04 11:10] asennikov commented on #13
@FelixAkk I've looked into this issue and it looks like it's not exactly a bug, let me explain.

First of all, I believe you are trying to show single `{{g-map-address-marker}}` on a map with `shouldFit` option set to true, right?

If my assumption is correct, then here is what happens: address marker doesn't appear on map immediately (because it requires some time to ask google places API for coo

[2016-01-05 23:07] FelixAkk commented on #13
That's a great explanation actually :) I suspected something with the asynchronous nature of resolving addresses. `markersFitMode="live"` will do just fine while keeping the fit dynamic (I like not having to worry about forgetting to update such things when for example adding new elements). Thanks a lot! :)

[2016-01-18 10:44] mansona opened #15 "Zoom Level on "Markers bound to address query""
I'm trying to use the [Markers bound to address query](https://github.com/asennikov/ember-g-map#marker-bound-to-address-query) feature and I would really like the zoom level to stay fixed even when I update the search query

Here is how i'm using it:

[code]

I have the address bound to an input but I would really like it to stay at a set zoom level when I search for a new address. What is the bes

[2016-01-18 10:48] mansona opened #16 "Getting the latitude and longitude out of a marker in the map"
I'm creating a bit of a make shift search by binding an input field with the address of a `{{g-map-address-marker}}`

[code]

I'm wondering once it is using the right place how do I get the marker details out of the `{{g-map-address-marker}}` so I can save the lat long on my model and put it in the database?

[2016-01-18 11:24] asennikov commented on #16
I guess I can add an optional action for this, to let your application receive lat/lng data back.
So it could be something like:
[code]

[2016-01-18 11:29] asennikov commented on #15
Needs some research on this, since `markersFitMode='live'` forces map to be fit to markers on every change. And by fit I mean calling `fitBounds` method of `google.maps.Map` object which sets zoom  by itself.

Probably I can add option to reset zoom back after each `fitBounds` call, but it may result in some ugly flickering.

[2016-01-19 08:59] sprocketc opened #18 "Marker Clustering"
I am implementing clustering support using [Marker-Clusterer](https://github.com/googlemaps/js-marker-clusterer).

I will create a pull request if you are interested. If not, i will publish a separate ember-addon that extends yours.

[2016-01-19 19:13] movstox opened #19 "Open info window on 'mouseover'"
Thanks for great plugin!

Would be great to open info window on mouse hover... Any ideas if that is possible? I can try submitting a PR, though need some help to start.

[2016-01-19 19:30] asennikov commented on #19
Could be implemented as an option for `g-map-infowindow`, something like
[code]

In that case we'll need to alter this logic: https://github.com/asennikov/ember-g-map/blob/master/addon/components/g-map-infowindow.js#L102

I think I can work on it this coming weekend, but if you'd like to submit PR - it would be more than welcomed.

[2016-01-19 19:56] asennikov commented on #18
This is very interesting project you have there!

I have nothing against adding it to this add-on as long as it'll be implemented as additional set of components using common marker components under the hood.

[2016-01-19 20:20] movstox commented on #19
@asennikov thanks, i'll give it a try, though i'm new to all this frontend stuff. if no PR by Sat, then, probably, I've failed ;)

[2016-01-20 05:25] sprocketc commented on #18
It will be implemented as such, but i will probably have to update the marker component `setMap` function to support clustering. I' ll see what i can do.

[2016-01-20 05:25] #18 closed

[2016-01-23 14:08] asennikov commented on #16
@mansona could you take a look at https://github.com/asennikov/ember-g-map/pull/22? Does it cover you case?

[2016-01-25 08:49] mansona commented on #16
@asennikov yes that looks like it should cover my use case for this :+1: do you want me to pull the branch and test it? I notice you already have tests so that's why I'm asking

[2016-01-25 10:49] asennikov commented on #16
Nah, I think I'll just release it. Was asking to verify that I understood your use-case right.

[2016-01-25 11:00] #16 closed

[2016-01-27 02:23] Blackening999 opened #24 "No markers, no routes :("
Hello!

I just have tried your awesome library, however I don't see markers nor routes working :(
I tried with example from README.

What I'm doing wrong?

[code]

[code]

[2016-01-27 09:03] asennikov commented on #24
Hi, what ember version are you running?

[2016-01-27 10:18] Blackening999 commented on #24
Hey @asennikov

Thanks for fast response!

2.2.0 (haven't upgraded to 2.3.0  yet)

[2016-01-27 11:06] asennikov commented on #24
Hmm, 2.2.0 should be good.
I'll try to replicate it in a clean repo and then let you know about results.

[2016-01-27 11:07] Blackening999 commented on #24
Thank you !

On Wed, Jan 27, 2016 at 13:06 Alexander Sennikov <notifications@github.com>
wrote:

[2016-01-27 16:40] Blackening999 commented on #24
@asennikov

It works after browser reload oO
Sorry for the mess, great library ;)

[2016-01-27 16:40] #24 closed

[2016-01-27 18:04] asennikov commented on #24
:+1:

[2016-01-29 11:48] asennikov commented on #19
Hey @movstox, on when do you think we should hide info window in that case?

When mouse leaves marker? Because in that case if you have some interactive content in your info window it will be unreachable.

[2016-01-29 17:17] movstox commented on #19
@asennikov I imagine it could work like this:

1) show on mouse over, hide on mouse out;
2) show on mouse click, don't hide on mouse out in this case;

[2016-02-02 18:12] thiyagu06 opened #27 "Ajax call on click event of marker"
Is it possible to do ajax request on click of marker?

[2016-02-03 01:28] jrock2004 opened #28 "Cannot get markers to display"
Using Ember 2.3.0. The map is showing the right area but I do not see the marker on the map

[code]

Now I have not added anything to the environment.js. Not sure if that is the reason

[2016-02-06 10:50] asennikov commented on #28
Just tried your example:
- marker actually appears, however it appears outside your view area: (37.7933, -122.4167) is pretty far from (40.0403816, -76.220530);
- if you want your map to follow your added markers - use [these settings](https://github.com/asennikov/ember-g-map#map-fits-to-show-all-initial-markers) to setup fit-to-markers behaviour (however it's not perfect now with a single marker,

[2016-02-06 10:57] asennikov commented on #27
Yeah, you can using `onClick` action. I've updated corresponding readme section - https://github.com/asennikov/ember-g-map#map-with-markers.

[2016-02-06 18:00] #27 closed

[2016-02-07 18:28] jrock2004 commented on #28
I feel like an idiot. I see what I did. I set the zoom to where I wanted it, but inside I never updated the lat and long to match. Sorry for opening this

[2016-02-07 18:28] #28 closed

[2016-02-08 11:06] asennikov commented on #28
np, I'm glad to help in any possible way

[2016-02-10 02:59] rlb3 opened #31 "Map in a modal"
I'm trying to place the component in a bootstrap modal but the map shows only a gray rectangle when I open the model. I found a reason here: http://stackoverflow.com/questions/11742839/showing-a-google-map-in-a-modal-created-with-twitter-bootstrap.

It looks like I need to send the resize event to the map but I don't have a handle on the map. Is there anything I can do?

[2016-02-10 12:36] asennikov commented on #31
Technically you can do this right.. It's not very user friendly though:

[code]

That way you can get `map` object in your component and send whatever events you would like.

I was thinking about adding special `service` to this addon to send events back to the map, but I haven't even started working on this improvement.

[2016-02-13 10:39] asennikov commented on #19
Just merged related PR, check it out - sorry for being so slow with that :snail:, hope you still need this feature.

[2016-02-28 13:38] FelixAkk opened #32 "Extending GMapAddressMarkerComponent"
Hi,
Ember-noob question I was hoping someone could help me out with. I'm having some trouble figuring how to make an extension. To illustrate, I have a rather staightforward use in my template right now. Just an address marker with an info window with some custom content:
[code]
Basically I have a whole list of shops/studios/etc on the map, and it would be nice to make a component that just takes

[2016-03-01 14:05] stijn26 opened #33 "Possible to make markers draggable"
Hi,

Is it possible to make the markers draggable and get the latitude and longitude when dropped?

Because I prefer this addon over ember-cli-g-maps but I really need draggable markers.

[2016-03-05 22:44] FelixAkk commented on #32
Thanks a lot! That indeed works :)

[2016-03-05 22:44] #32 closed

[2016-03-09 18:48] Mithrilhall opened #34 "Ability to open/close infoWindows programmatically"
How would one go about opening/closing infoWindows that are:

1. bound to markers
2. bound to coordinates

[2016-03-10 15:35] asennikov commented on #34
**1) bound to markers**
There's no good way to do that right now, but I can show you some hack:

[code]

and `{{my-functional-component}}` may have access to infowindow bound to marker in following manner:
[code]

in case you need to call it from somewhere up in your application you may consider creating special service for it, where you will be storing your infowindows (using this component trick

[2016-03-13 16:29] ivanjolic95 opened #36 "Route color"
While working on #35 I tried to add color option to route component but I couldn't make it work.

I suppose this should be added to rendererOptions for direction renderer in g-map-route component:

[code]

For some reason it didn't work. Can you please look into it? Thanks!

[2016-03-15 16:35] asennikov commented on #36
Yeah, will look into this, would be definitely good to be able to change color of those lines.

[2016-03-17 19:21] Mithrilhall opened #37 "Programmatically zoom on marker / reset zoom level & point"
How can I change the zoom level after programmatically opening an infoWindow on a marker?

Also, how would I go about resetting the zoom level and point?

Also, is this possible from outside the map component?

[2016-03-18 14:33] asennikov commented on #37
You can just change your zoom property, which is bound to the map component. If you need to do that after opening infowindow, then change zoom after that. The same goes for lat/lng - you can update coordinates bound to the map and it will be applied on the map.

Add some more details if I don't get something.

[2016-03-18 16:22] asennikov commented on #36
Looks like I was able to do that. Check it out at https://github.com/asennikov/ember-g-map/pull/38, I'm going to add some tests and release it soon.

[2016-03-18 17:02] ivanjolic95 commented on #36
Thanks! I've added a basic "waypoints" option to route (passing an array of waypoints as it's specified in maps api) .

I'd like to extract them into g-map-waypoint component though, so they can be added within a g-map-route block. What do you think of that approach?

If it's okay I'll make a pull request next week.

[2016-03-18 18:16] asennikov commented on #36
Sounds perfect!

[2016-03-22 11:22] kirantpatil opened #39 "[Feature Request] Display route distance"
Continuing the discussion from https://github.com/asennikov/ember-g-map/pull/38, We would like to give an opportunity to Junior developer to work on this feature.

[2016-03-22 14:37] asennikov commented on #39
Sure, once you and your dev have something to show just submit Pull Request and I can take a look at it.

[2016-03-26 09:46] asennikov commented on #36
Route colors (and some other polyline options are merged) are available in `0.0.16`, so I'm closing this issue.

Waiting for that waypoints PR though :wink:

[2016-03-26 09:46] #36 closed

[2016-03-26 09:47] #19 closed

[2016-04-19 20:35] jmccartie opened #41 "Populating map from collection"
I'm sure I'm missing something simple, but I can't seem to iterate over a collection to populate the map. Here's what I'm trying:

[code]

Map is showing as a blank gray square.  Is there another way to loop? I can add some sample code to the README... Thank you!!!

[2016-04-19 20:50] Mithrilhall commented on #41
What if you do this without the loop. Do you see a map?

[code]

[2016-04-19 21:10] jmccartie commented on #41
@Mithrilhall A map renders ok with that code

[2016-04-19 21:14] Mithrilhall commented on #41
@jmccartie

How about this?

[code]

[2016-04-19 21:17] jmccartie commented on #41
@Mithrilhall That renders a map and the markers ...

[2016-04-19 21:21] Mithrilhall commented on #41
What if you add the following to your original {{#g-map...}} ?

[2016-04-20 04:24] jmccartie commented on #41
@Mithrilhall No change, unfortunately.

[code]

[2016-04-20 13:28] Mithrilhall commented on #41
@jmccartie

If you just loop through your data you have what you're expecting?

[code]

Also, you misspelled 'campgrond' in your first post. That wasn't your problem was it?

[2016-04-20 15:24] jmccartie commented on #41
@Mithrilhall

Let this Github Issue stand as a monument for all developers for all time ... of how to properly think there's something wrong with a library, when in fact, the problem is between the keyboard and the seat.

Yup. I just spelled `campground` wrong. Wow. Works great. Thank you for your patience!

[2016-04-20 15:29] #41 closed

[2016-04-20 15:38] #34 closed

[2016-04-20 15:38] #37 closed

[2016-04-20 17:41] jmccartie opened #42 "Can I use custom markers?"
I'm trying to use markers with custom colors. To do this in my current app (non-Ember), I'm doing this:

[code]

This sets a customer marker color. Any way to pass a pinImage when using `g-map-marker` ?

[2016-04-21 08:35] asennikov commented on #42
Currently `{{g-map-marker}}` supports custom image files (jpg, png, svg, etc.) for icons, like:
[code]

But I think you may try binding your `pinImage` (instance of `google.maps.MarkerImage`) to the icon attribute of `{{g-map-marker}}`, it might actually work.

[2016-04-21 14:56] jmccartie commented on #42
@asennikov Awesome, thanks! Should I add that info to the README?

[2016-04-21 18:24] asennikov commented on #42
Yeah, would be nice!

[2016-04-21 19:43] #42 closed

[2016-05-18 09:51] josephh opened #49 "What is the correct nesting for g-map-infowindow?"
Trying the example template code on the readme section, **Marker bound to address query**, the browser doesn't seem to like g-map-infowindow being nested in the g-map-address-marker block.
The error in the browser console is,
`Uncaught Error: Assertion Failed: Must be inside {{#g-map}} or {{#g-map-marker}} components with context set`

[2016-05-18 10:46] asennikov commented on #49
whoops, there was an issue in readme - missing ` as |markerContext|` part:
[code]

[2016-05-18 11:03] josephh commented on #49
😄

[2016-05-18 11:07] josephh commented on #49
For the same example code in the readme, the double click event works nicely - info window shows - but not the single click or the mouse over.  If I comment out the second two **g-map-marker**s then the mouseover has the desired effect and I see the info window with expected text.

[2016-05-18 11:29] asennikov commented on #49
could you post a code sample here?

[2016-05-18 12:18] josephh commented on #49
I'm copying and pasting your examples into a handlebars template.  My experience is that only the last openOn action applies.  Commenting out the dblClick onClick for me (as below) gets the single click onClick working.  I'm running
`ember --version
version: 2.4.2
node: 4.4.0
os: darwin x64`

[code]

[2016-05-19 14:43] asennikov commented on #49
Isn't it because all 3 markers have the same coordinates? So they overlap with each other and you see only the last one? Try spreading them around a bit and tell me if it works :)

[2016-05-23 16:36] mklnz opened #50 "Possible to do KML layers?"
I'm wondering how to do KML layers using this addon?
https://developers.google.com/maps/documentation/javascript/examples/layer-kml

Perhaps using just some plaun javascript for now?

[2016-05-24 21:13] asennikov commented on #50
so yeah, we don't have support for that feature yet, but you can do it in some hacky way with custom "functional" components:

[code]

and then `your-kml-component` component could be something like:
[code]

[2016-05-24 21:15] asennikov commented on #50
also looks like this feature could be added really easy, so if you can make it work maybe you can consider contributing to the project by adding `{{g-map-kml-layer}}` component 😃

[2016-05-25 07:48] smitakiran25 opened #51 "Uncaught Error"
I have installed
ember install ember-g-map

In confg/environment

ENV.contentSecurityPolicy = {
    'default-src': "'none'",
    'script-src': "'self' 'unsafe-eval' *.googleapis.com maps.gstatic.com",
    'font-src': "'self' fonts.gstatic.com",
    'connect-src': "'self' maps.gstatic.com",
    'img-src': "'self' *.googleapis.com maps.gstatic.com csi.gstatic.com data:",
    'style-src': "'self' 'un

[2016-05-25 07:50] smitakiran25 opened #52 "Uncaught Error"
I have installed
ember install ember-g-map

In confg/environment

ENV.contentSecurityPolicy = {
    'default-src': "'none'",
    'script-src': "'self' 'unsafe-eval' *.googleapis.com maps.gstatic.com",
    'font-src': "'self' fonts.gstatic.com",
    'connect-src': "'self' maps.gstatic.com",
    'img-src': "'self' *.googleapis.com maps.gstatic.com csi.gstatic.com data:",
    'style-src': "'self' 'un

[2016-05-25 10:06] asennikov commented on #52
Yeah, because it validates components structure, could you paste here your hbs snippet of how you're using this addon.

[2016-05-25 14:50] mklnz commented on #50
@asennikov Great, thanks for the tip. I will give it a try and see how I go.

[2016-05-25 14:50] #50 closed

[2016-05-30 13:25] #51 closed

[2016-05-30 13:28] smitakiran25 commented on #52
I added the following code in
app/template/components/

g-map-address-marker.hbs
g-map-address-route.hbs
g-map-infowindow.hbs
g-map-marker.hbs
g-map-polylinecoordinate.hbs
g-map-polyline.hbs
g-map-route-address-waypoint.hbs
g-map-route-waypoint.hbs
g-map-route.hbs
g-map.hbs

i removed all these from the components and it resolved the issue

[2016-05-30 13:42] smitakiran25 opened #53 "Display Location"
I am trying to popup location and near by hospitals in a g-map

![image](https://cloud.githubusercontent.com/assets/11611902/15651508/be17b7bc-269d-11e6-8a92-1317d651beb3.png)

![image](https://cloud.githubusercontent.com/assets/11611902/15651622/5e8b3bec-269e-11e6-9c60-9f46119b340c.png)

when i click on the submit button on the above form after entering location. The enterd location should  be di

[2016-05-30 14:54] asennikov commented on #52
Happy to hear that there's no issue anymore. But just to clarify - you mean you've copied components' code from this addon to your app in the first place, right?

[2016-05-30 14:58] asennikov commented on #52
I'll close this issue for now then, let me know if it's still a problem for you.

[2016-05-30 14:58] #52 closed

[2016-05-30 14:59] asennikov commented on #49
I'm closing this for now, but fill free to reach me if you still have any issues.

[2016-05-30 14:59] #49 closed

[2016-05-31 22:37] nabihahossain opened #54 "Setting default map type"
How do I set the map type to satellite by default? I understand there are custom options you can configure, but I'm not sure about its exact location and syntax.

[2016-06-01 14:14] Mithrilhall commented on #54
I can't promise this is the correct way but:

route.js:
[code]

template.hbs:
`{{custom-map model=markers customOptions=customOptions}}`

custom-map component template:
[code]

[2016-06-02 19:24] jstoup111 opened #55 "Question: Are there onClick handlers for the map itself?"
See question

[2016-06-02 19:42] Mithrilhall opened #56 "Question: Accessing the map context from other components"
I need to access the google map object from another component so I can set zoom level and bounds when a user selects a marker from my dropdown component. How can I access the map from another component?

application _template_:
`{{my-map model=items customOptions=customOptions}}`

_my-map_ component template:
[code]

[2016-06-03 07:04] Mithrilhall commented on #56
I ended up using an [eventBus](http://www.thesoftwaresimpleton.com/blog/2015/04/27/event-bus/). I think it will do what I require.

[2016-06-03 07:04] #56 closed

[2016-06-04 09:18] asennikov commented on #53
Hi @smitakiran25, it's pretty hard to help you by only seeing screenshot, some code snippets could be handy here.
But anyway, let me try.

Assuming that your form component is something like:

[code]

and its template:
[code]

To show markers just add this to the end of your template:

[code]

[2016-06-04 09:21] asennikov commented on #54
yes, @Mithrilhall is right, just create a custom options object wherever you want and feed it to `g-map` component.

[2016-06-04 09:31] asennikov commented on #55
no, we do not support map event directly yet. But you can use a workaround using additional functional component:

[code]

whereas `your-event-component` component is:

[code]

this will call `yourOnClickHandler` of your parent component/controller/route.

Also, if it something interesting to you - you can try taking over this https://github.com/asennikov/ember-g-map/pull/29 PR. It implements supp

[2016-06-04 09:35] asennikov commented on #39
@kirantpatil any progress on this?

[2016-06-04 09:35] #31 closed

[2016-06-06 05:38] kirantpatil commented on #39
@asennikov, no Sir, not much happened. Due to time issue we could not pursue it but we have to do it by this month or next.

@smitakiran25 may take up the task.

[2016-06-08 11:14] ivanjolic95 commented on #39
I've done it, I just need to add some tests if that's okay.

[2016-06-08 11:41] kirantpatil commented on #39
@ivanjolic95, that is great. :+1:

[2016-06-15 15:55] Mithrilhall commented on #54
@nabihahossain or @asennikov; could one of you close this issue?

[2016-06-16 13:52] smitakiran25 commented on #53
I tried on that but i am not getting
 app/template/newcase.hbs
<nav class="navbar navbar-default navbar-pf" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"

[2016-06-16 18:58] #54 closed

[2016-06-16 19:05] asennikov commented on #53
Sorry, I can't really understand what you're trying to show me here... Could you structure those code pieces a little bit? Something like:

file1.js
[code]

file2.hbs
[code]

...
etc.

[2016-06-17 07:19] smitakiran25 commented on #53
Ok sir sorry for that, i had sent the screen shots of hbs and js files

**app/template/newcase.hbs**
![image](https://cloud.githubusercontent.com/assets/11611902/16143181/b8b960ba-3488-11e6-9935-91be3a52db46.png)

**app/controller/newcase.js**
![image](https://cloud.githubusercontent.com/assets/11611902/16143194/de1ec0d4-3488-11e6-94a7-1991550ee26d.png)

**app/template/gmap.hbs**
![image](https://

[2016-06-18 10:34] smitakiran25 commented on #53
I tried to work on that i changed **app/template/newcase.hbs** to **app/template/component/new-case.hbs**

![image](https://cloud.githubusercontent.com/assets/11611902/16170363/de81b5f0-356d-11e6-9dc1-b6e6d61d244f.png)

**app/template/index.hbs**

{{new-case}}

i am getting following error
ember.debug.js:40998Uncaught Error: <google-route@component:new-case::ember368> had no action handler for: ad

[2016-06-29 21:45] arthur5005 opened #59 "g-map-address-route fails in component integration test due to calling set on a destroyed component"
Using this component can easily cause a parent component integration test to fail.

This is due to the Places api callback trying to call set on the destroyed component, in this case: `g-map-address-route`

Just create a bare component, put a gmap inside it and then a g-map-address-route:

[code]

Run the integration test.

This also causes issues when quickly opening and closing a pane which cont

[2016-07-05 17:13] Juraci opened #60 "Open infowindow programatically"
I'm in a situation where I have a sidebar and the map displayed in the main area. I would like to open a given marker infowindow whenever I click in one of the items in the  sidebar.  Is it possible to create an action that programmatically opens the infowindow of a given marker context?

[2016-07-07 13:45] Mithrilhall commented on #60
@Juraci https://github.com/asennikov/ember-g-map/issues/34

[2016-07-08 20:28] Mithrilhall commented on #60
@Juraci, do you have an example in github?

[2016-07-08 21:32] Juraci commented on #60
@Mithrilhall yes I do have.

Given this template which has a sidebar and the main area which displays the map:
[code]

I would like that the showOnMap action on the `.property` element on the sidebar to programmatically trigger the infowindow.open() on the bounded marker:

[code]

Here is the entire project: https://github.com/Juraci/sky-watcher

[2016-07-09 05:50] Mithrilhall commented on #60
@Juraci - I used an [Event Bus](http://www.thesoftwaresimpleton.com/blog/2015/04/27/event-bus/) to pass around the map context. I'm not sure if this is the best way but that's how I ended up getting it to work.

I'll try to get your project working with it.

[2016-07-11 22:55] hbrysiewicz opened #62 "Add polygons"
I noticed this was listed on the README as a desired feature request. It also is something that `ember-cli-g-maps` was covered for. I would like to potentially work on implementing this.

[2016-07-11 22:56] hbrysiewicz opened #63 "[Feature request] DrawManager component"
I've done some work with the `DrawManager` with the google maps api directly but think it would be nice to have it emberized within this component. I would potentially like to work on this feature.

[2016-07-12 17:42] Juraci commented on #60
@Mithrilhall cool I will take a look on this Event Bus too, the solution I've come up with was to render the infowindow by default:

ember-g-map/addon/components/g-map-infowindow.js
[code]

probably this is not the best way but now I can hide/show the infowindow with conditional statements in the handlebars.

[2016-07-14 05:30] alvarouribe opened #64 "When I refresh a page with the mouse the map get an invalid key"
Google Maps API error: MissingKeyMapError

my config/environ... looks like this
  ENV['g-map'] = {
    libraries: ['drawing'],
    client: 'gme-...'
  }

is it a bug or what?

Cheers

[2016-07-14 12:57] Mithrilhall commented on #64
@alvarouribe Do you have a key?

[code]

[2016-07-14 22:02] alvarouribe commented on #64
Hi no I just have the client because I am using the client id from my company

[2016-07-16 14:43] asennikov commented on #60
I have another idea how to implement that:

1) your template, notice the addition of the `{{infowindow-trigger}}` component
[code]

2) to tie everything together we may use a service, let's call it `services/infowindow-trigger.js`:
[code]

3) then that additional component `components/infowindow-trigger.js` gonna just setup our service with infowindow, received from marker context:
[code]

4) and

[2016-07-16 15:00] asennikov commented on #63
That sounds awesome! I can help you as much as I can to integrate that functionality here. However, I need to read docs a little bit to see how it could be best implemented.

Also, I'm not sure yet, but it may make sense to have it as an additional `ember-g-map-draw-manager` plugin-addon which brings DrawManager functionality and components. Something similar to what ember-cli-deploy has with thei

[2016-07-16 15:02] asennikov commented on #62
Yes, that shouldn't be too hard to add them, we already have polylines, polygons are basically the same, with a few more params.
If you have enough time - please submit PR, if not I can look into it myself in coming weeks.

[2016-07-16 15:04] asennikov commented on #59
Good catch! I think we can add a check there for object being destroyed. Wanna make a PR?

[2016-07-20 00:58] hbrysiewicz opened #65 "Deprecation warning originating from didInsertElement in g-map"
Deprecation warning originating from `ember-g-map` because it's calling `set` inside `didInsertElement` hook.

<img width="286" alt="screen shot 2016-07-19 at 5 55 03 pm" src="https://cloud.githubusercontent.com/assets/2779962/16971617/253b0616-4dda-11e6-95d0-f10f0e3836b7.png">

<img width="623" alt="screen shot 2016-07-19 at 5 57 03 pm" src="https://cloud.githubusercontent.com/assets/2779962/1697

[2016-07-20 10:32] mike-north opened #66 "Lazily load google map API"
In one of my apps, I only need the google maps API on a few pages. It would be great to not pay the overhead of loading the API unless (and until) it's really necessary.

This would entail making a few things "promise aware" because there's the possibility that the `google.*` stuff hasn't been loaded yet, and will need to be fetched "just in time".

[2016-07-21 11:30] asennikov commented on #65
As far as I remember, I haven't figured out a way to make it work without setting map on `didInsertElement`. `init` is too early, we need to wait for the element to appear first.

Maybe we can use something like `Ember.run` to set everything outside of didInsertElement execution. Needs someone to try.

[2016-07-21 18:56] hbrysiewicz commented on #65
I can take a stab at this. I think the map context should be abstracted into it's own service and this can be cleaned up a bit. I also saw the incorrect usage of `this._super()` and `this._super(arguments)` and such around so I can clean that up at the same time. Give me a few days.

[2016-07-21 19:15] asennikov commented on #65
Sure, go ahead, keeping `map` in service can also help with exposing it (at least partly) to the host application. Sometimes people want to just call some method on the map itself.

[2016-07-23 04:06] steveszc commented on #66
I just opened PR #67 that adds an 'exclude' option to the addon config that prevents the addon from adding the Google Maps API script to the app's index.html. This would give you the opportunity to handle loading of the Google Maps API on your own terms.

[2016-07-23 04:09] steveszc commented on #64
@alvarouribe The addon isn't set up to handle client IDs right now, I ran in to the same problem. I just opened PR #67 that adds `client` as an optional config param.

[2016-07-26 22:10] steveszc opened #69 "Enhance support for Markers"
There are quite a few Marker properties, events, and methods that are present in the Google Maps API but absent from the g-maps-marker component. Its probably not feasible to fully re-implement the [Google Maps API for Markers](https://developers.google.com/maps/documentation/javascript/reference#Marker), but the following list seems like a good place to start, and many of these API features such

[2016-07-26 22:13] steveszc commented on #69
I'll be working on the Complex Icon support in the next couple weeks, PR will be forthcoming.

[2016-08-02 15:31] Mithrilhall commented on #33
@stijn26, could you close this issue since draggable markers have been added?

[2016-08-02 15:32] asennikov commented on #33
I think I will go ahead and close it.
@stijn26 feel free to reopen it if you want to discuss it more.

[2016-08-02 15:32] #33 closed

[2016-08-02 15:33] asennikov commented on #66
Hey @mike-north, what do you think about that addition by @steveszc? Does it solve your issue?

[2016-08-02 15:34] Mithrilhall commented on #64
@alvarouribe, could you close this issue since this feature has been added?

[2016-08-02 15:34] asennikov commented on #64
Closing the issue, if you guys have anything else to add here - feel free to reopen it.

[2016-08-02 15:34] #64 closed

[2016-08-03 03:36] mike-north commented on #66
@asennikov - it does, in a sort of DIY sense (the user could explicitly load it before they need it), but an even better solution would be promise-driven, where the script is loaded "just in time" by a service or something. This way, consumers don't need to do any explicit loading, and they don't need to keep track of whether the script has already been loaded or not

[2016-08-05 07:17] jeffrey008 opened #72 "Making google map height responsive using flexbox"
Hello guys, I am trying to make my google map responsive, say, the map fits my div when I resize. Here is what I did:

[code]

But the result is, I see nothing because the `<div id="ember589" class="ember-view g-map" >`  has height = 0.

The problem is fixed when I set the `.g-map height = 100%`, but that sounds a bit hacky to me, since the way we should set the map should be using g-map-canvas.

[2016-08-15 00:41] alvarouribe opened #74 "Complex Marker Icons error"
When I implement this
	openIcon: {
		url: "/assets/images/pin-icon_open.svg",
		size: new google.maps.size(30,30),
		scaledSize: new google.maps.size(20,20),
		anchor: new google.maps.point(15, 15),
		origin: new google.maps.point(0, 0),
		labelOrigin: new google.maps.point(30, 15)
	},

I get  Uncaught TypeError: google.maps.size is not a constructor

It seams that I am missing an import...

[2016-08-15 07:19] jeffrey008 commented on #74
Hello, can you please provide more code, like hbs, to debug this problem?
Also please `use display code` to improve readability.
Like this:
[code]

[2016-08-15 07:37] jeffrey008 opened #75 "Make google map have 100% width and height as parent div"
Hello guys, I have a div which has dynamic width and height, and the dimensions are determined after the webpage is loaded. In order to make my google map take to full width and height of the div, I need to do the following:
[code]
Which is not the mentioned as the readme file. Should we add this into readme file? Or am I using a wrong approach to solve this problem?
Please give me some help on th

[2016-08-15 22:30] alvarouribe commented on #74
Sure I create the whole thing here:
https://github.com/alvarouribe/ember-map-test
just add your id for the map in config/environment

this are the errors on ember-cli

controllers/application.js: line 6, col 15, 'google' is not defined.
controllers/application.js: line 7, col 21, 'google' is not defined.
controllers/application.js: line 8, col 17, 'google' is not defined.
controllers/application.j

[2016-08-16 01:30] jeffrey008 commented on #74
Hi there. I have figured it out. You just need to capital everything after `google.map`. Here is how this works.
[code]
If you add a breakpoint in the controller and console 'google' to see what's inside, you will see that everything in there are capitalised.

So I think there is a typo in the readme file, we gotta need to fix that or else more people will have the same problem.

[2016-08-16 05:10] alvarouribe commented on #74
Awesome that worked !!!

[2016-08-16 05:10] #74 closed

[2016-08-20 10:11] asennikov commented on #75
Hmm, you're right, I've almost forgot that there's intermediate `<div class="g-map">` element in the layout. Yeah, your solution is fine, another approach would be to add custom class to the component declaration:

[code]
which is something like
[code]

Anyway, fill free to submit PR to the docs.

[2016-08-20 10:16] asennikov commented on #72
Your solution is fine, see https://github.com/asennikov/ember-g-map/issues/75, also in that particular case with flexbox you can do it a bit differently:

[code]
[code]

[2016-08-22 07:18] alvarouribe commented on #39
Well if you want to get distance today you can do the following...

with geometry included in config/environment.js
  libraries: ['geometry']

You can check for distance like this:

function(lat, lon,  toLat, toLon) {
  return google.maps.geometry.spherical.computeDistanceBetween(new google.maps.LatLng(lat, lon), new google.maps.LatLng(toLat, toLon));
}

[2016-08-22 09:55] #75 closed

[2016-08-22 09:57] #72 closed

[2016-09-03 06:34] alvarouribe opened #81 "Animate a marker"
I can't find the way to animate a marker...

[2016-09-05 13:17] jeffrey008 commented on #81
Hi there. I think there is no official way to animate a marker at the moment. But here is a workaround that you can try:

[code]

Then add the component `components/animate-marker.js`, inside init(), add
[code]

I haven't try yet, but the basic idea is import the marker into component so we can add javscript to the marker. Good luck.

[2016-09-05 23:10] alvarouribe commented on #81
I can access the marker but that didn't worked.
it says setAnimation is not a function so for some reason is not accessing the right element

[2016-09-12 08:51] asennikov commented on #81
Try this:
[code]

and then:
[code]

But clearly, we should just add official support for marker animation. However, let me know if that workaround works.

[2016-09-13 12:34] briancwald opened #83 "Advanced marker issue?"
I am having an issue using the advanced marker, but I am not sure how to troubleshoot.

Using the standard icon="path/to/img" works fine.

When I use the example of the advanced marker, I know the object is being read on map render, but nothing changes and there are no errors (added a stop in the console inside the object). It feels like I am missing something, Is there an import I need to do in m

[2016-09-15 02:48] jeffrey008 commented on #83
Hello, can you provide some code or a simple project in [https://ember-twiddle.com/](https://ember-twiddle.com/) to demonstrate your problem?
This allow us to debug your code and investigate on it. Thanks

[2016-10-27 18:36] GCheung55 commented on #66
This would also be helpful for localization. User locale preferences are determined after login, which then the API script could be loaded with the appropriate language/region.

[2016-11-10 09:57] desmond1303 opened #86 "Question: Is it possible to ADD a marker on click?"
I've read through the documentation, but i didn't see any onClick events on the map itself. I'd want to be able to add new markers to the map with a click? Is that possible ?

[2016-11-10 21:19] GCorbel commented on #63
I there any update on this ?

[2016-11-12 12:17] asennikov commented on #86
Nope, there's no such option yet. However, this sounds like an easy one - we can add it. Feel free to submit a PR if you happen to be in opensource mood.

[2016-11-12 12:51] asennikov commented on #86
Also, it is possible to use a bit of manual interaction with Google Map to achieve that:

[code]

and in `your-click-listener-component/component.js` you may have:

[code]

[2016-12-16 16:41] bonroyage commented on #86
Using your sample code above, the map variable always returns an `undefined` value for me. So to make it work I passed the `mapContext` rather than the `mapContext.map` in the handlebars template and called `setupListener` in an `observer` instead of the `init` function

[code]

[code]

[2016-12-23 17:35] #69 closed

[2017-01-04 11:51] ImJacobChen opened #88 "Reference map object from within controller?"
Hi there,

Just wondering if you would know how to reference the `map` object from within a controller?

So I can use code like `service = new google.maps.places.PlacesService(map);` and `map.getBounds()`

Many Thanks!

Jacob

Also I am not sure if this is the right place to be asking questions but worth a try

[2017-01-31 22:43] marcemira commented on #81
:wave: I was just trying this out, but `markerContext.marker` it's undefined on `init()` (maps hasn't yet loaded at that point), so a `didInsertElement` would do better ;)

[2017-03-06 11:13] thoresuenert commented on #15
the solution is to use the geometry viewport if present for single markers.
it is in the autocomplete places example here: [Places Autocomplete Example](https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete)

`js
// If the place has a geometry, then present it on a map.
          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);

[2017-03-07 20:33] joegaudet opened #92 "Cap on the number of routes?"
First off, thanks so much for your work on this addon, we are loving using it.

I've noticed at most I'm only able to show 3 routes at a time. Is this an imposed limitation? Or am I doing something wrong?

[code]

We've got a paid gmaps key, is it perhaps a question of rate limiting?

[2017-03-14 06:08] cahyowhy opened #93 "add event based on g-map / {{g-map}}"
how to add event on g-map. i just wanna get lat lng when user click the map

[2017-04-13 15:13] steveszc commented on #93
You'll need to make a component that can be placed inside the g-map block to handle whatever custom behavior you need. See https://github.com/asennikov/ember-g-map/issues/86 for example.

[2017-04-13 15:13] #93 closed

[2017-04-13 15:25] steveszc commented on #83
Closing, awaiting response. Can re-open if we get a reproduction.

[2017-04-13 15:25] #83 closed

[2017-04-13 15:53] steveszc opened #96 "Need to support marker options"
https://developers.google.com/maps/documentation/javascript/3.exp/reference#MarkerOptions

[2017-04-13 15:56] steveszc commented on #81
Closing in favor of #96. Marker animations will be supported once support for MarkerOptions is done.

[2017-04-13 15:56] #81 closed

[2017-04-13 18:51] steveszc opened #97 "Move to Data-down, Actions-up architecture"
As discussed in https://github.com/asennikov/ember-g-map/pull/84 there are opportunities to transition to a data-down actions-up architecture from the current architecture that prefers methods as API between components.

Considerations:
- maintain backwards compatibility
- account for syncing of state between g-map components and the underlying google.map object
- account for google.map state mana

[2017-04-13 18:56] steveszc commented on #93
Also see https://github.com/asennikov/ember-g-map/issues/55 for another example of how to do this

[2017-04-13 19:01] steveszc commented on #53
Closing. This looked like an implementation issue, not an issue with the addon.

[2017-04-13 19:01] #53 closed

[2017-04-13 19:06] steveszc commented on #92
Did you ever resolve this issue @joegaudet?

This shouldn't be a rate limit issues according to https://developers.google.com/maps/documentation/javascript/directions#UsageLimits

If you can throw this up on a Twiddle I'd be happy to take a look.

[2017-04-13 19:55] steveszc commented on #88
Eventually we'll probably move the map itself into a service which would make this trivial.

If you're just trying to instantiate a PlacesService you can just pass in a dom node like so `google.maps.places.PlacesService(document.createElement('div'))`.
https://developers.google.com/maps/documentation/javascript/3.exp/reference#PlacesService

For other use cases where you really do need access to t

[2017-04-13 20:00] #59 closed

[2017-04-13 20:07] steveszc commented on #39
Closing due to inactivity. If there is desire to continue work on this I am happy to reopen.

[2017-04-13 20:07] #39 closed

[2017-04-13 20:27] steveszc opened #98 "Add an onOpen event handler to g-map-infowindow"
See https://github.com/asennikov/ember-g-map/pull/80

PR is abandoned and needs to be picked up again.

[2017-04-13 20:40] steveszc opened #99 "Improve Docuementation Site"
Would be ideal to emulate the kind of documentation site provided by addons like ember-leaflet and ember-power-select

https://github.com/miguelcobain/ember-leaflet/tree/master/tests/dummy

[2017-04-13 22:43] steveszc opened #101 "Add circle and rectangle components"
https://developers.google.com/maps/documentation/javascript/3.exp/reference#Circle

https://developers.google.com/maps/documentation/javascript/3.exp/reference#Rectangle

[2017-04-14 15:03] #98 closed

[2017-04-14 15:21] #15 closed

[2017-04-17 05:12] seclace opened #104 "resize map when "g-map" box resized"
Here is my example code:
[code]
When i click a button - my neighbour's min-width become "0" and my "g-map" container width grows as it should, but map is needed to resize it to loads over all available space.
How can I call `google.maps.event.trigger(map, 'resize');` as recommended by google to resize my map.
Here is my example images:

with opened sidebar:
![screen shot 2017-04-17 at 12 11 24](ht

[2017-04-17 07:24] seclace commented on #104
Sorry, I was inattentive. I checked your previous issues and find it https://github.com/asennikov/ember-g-map/issues/88
It help me to access my map in component and resize it same I needed.

[2017-04-17 07:24] #104 closed

[2017-04-21 16:11] Talento90 opened #105 "InboxBox/BubbleBox Support"
First of all thanks for this great component! 👍

I would like to know if you are planning to support `infobox` or `bubblebox`? At the moment it's very hard to customize the `infowindow` css. I am trying to remove the X button and some width and height are automatically calculated! :/

[2017-04-21 16:22] steveszc commented on #105
Adding support for 3rd party google map plugins is outside the scope of this addon, but should be relatively straight forward to implement in your own component. You could write your own `g-map-infobox` or `g-map-bubblebox` component that could mirror the `g-map-infowindow` component api but replace infowindow with infobox or bubblebox. Something like that could also be turned into an addon, simil

[2017-04-21 16:26] steveszc commented on #63
This would be a good candidate to be implemented as a separate addon designed to be used within an `ember-g-map`.

[2017-04-23 23:20] Talento90 commented on #105
I did what you said, basically I copied the `infowindow` component and I changed this:
[code]
It's rendering correctly and do not throw any errors but the problem is that I am losing all ember stuff like events or route links. Do you know which problem can be?

Thanks!

[2017-04-24 15:08] steveszc opened #106 "Use ember-cli-babel@6"
Needed for full support in ember-cli 2.13.x

[2017-04-24 15:54] #106 closed

[2017-06-06 16:24] sabatesduran opened #110 "Add markerd with a DS"
I'm trying to render the map with a `DS.PromiseObject` and it's not rendering the markers, but the data is there (I mean that it's rendering in other parts of the view) it works if i just use a hardcoded hash from the route.

`houses.js`:
[code]
`houses.hbs`
[code]
Any suggestions?

Thanks!

[2017-06-07 09:31] sabatesduran commented on #110
Fixed using `markersFitMode`

[2017-06-07 09:31] #110 closed

[2017-06-07 12:34] sabatesduran opened #111 "No map rendering when `markersFitMode` is in live"
I need the `markersFitMode` option to render from a DS but where I user live it's not rendering the mak but it renders the markers:

WITH `init`:
![image](https://user-images.githubusercontent.com/5699145/26878454-d37ae5b4-4b8d-11e7-9359-ae576ce72416.png)

[code]
WITH `live`:
![image](https://user-images.githubusercontent.com/5699145/26878543-2961777c-4b8e-11e7-8085-a1f0195fd58f.png)

[code]
When

[2017-06-07 14:01] sabatesduran commented on #111
This is amberassing but `shit happens`, I had a minZoom so i can't see further than this and I realize that in my test database the `lng` and `lat` where reversed so instead of pointing in Amsterdam they where pointing next to Africa.

[2017-06-07 14:01] #111 closed

[2017-06-15 13:02] rickyduck commented on #101
@steveszc do you wish to display a circle on the map, or are you only interested in using the circle / rectangle bounds and using that data to filter down a result set or some similar non-visual functionality?

[2017-06-20 01:10] briemarie opened #112 "map not loading from address only static lat and long"
I have been attempting to use this plugin all day, but am having no success using it dynamically.
If I specify lat and long coordinates directly, the map loads correctly. Using the places library to dynamically load maps from addresses is not working though.

- I have checked in my Google API console and can see that both Google Places API and Google Maps API are receiving requests and returning n

[2017-06-20 03:57] jeffrey008 commented on #112
Have you required the library?
[code]

[2017-06-20 04:24] briemarie commented on #112
Yes

Sent from my iPhone

[2017-06-20 04:45] steveszc commented on #112
@briemarie
Try this:
`{{#g-map-address-marker context address=(concat asset.address.locality ', ' asset.address.province) as |markerContext|}}`

Or
`{{#g-map-address-marker context address=computedAddress as |markerContext|}}`
where `computedAddress` is a computed property.

In your example you are trying to use double curlies to declare the address property, which is invalid syntax for passing pr

[2017-06-20 05:02] steveszc commented on #101
The main idea here would be to add a `g-map-circle`, `g-map-rectangle`, and `g-map-polygon` component for drawing these shapes on the map. Currently I have a `g-map-circle` component built in my app, but it would be nice to have these provided by the addon. I just haven't had time to build a rectangle/polygon component or write tests. I can provide my circle component as a starting point if someon

[2017-06-20 05:11] steveszc commented on #101
The existing polyline component may also be a good starting point for these new components. The polyline component should be similar to how a circle/rectangle/polygon component would function and it already has tests that can inspire tests for the new components.

[2017-06-20 05:11] steveszc commented on #62
closing in favor of #101

[2017-06-20 05:11] #62 closed

[2017-06-20 05:17] steveszc commented on #112
Closing. If the above suggestions don't solve the issue please let me know and I can reopen.

[2017-06-20 06:35] briemarie commented on #112
Thank you for the suggestions, I'll be sure to get the address down to a single property, however the property evaluation isn't the issue here. I tested out static city and state (San Jose, California) and city and country (Sydney, Australia) combinations in the address and got the same empty map results. The only way I was able to get a map was with lat and long coordinates.

[2017-06-20 13:12] steveszc commented on #112
My apologies, I mistook your original post to mean that it was working with the static city/state.
Have you been able to get a map to render at all (without the address marker)?

Can you double check that you added the CSS styles for the g-map-canvas (per the README). If those styles are there, you might also try adding a lat/lng to the `g-map` itself. Also, try copy/pasting the `g-map-address-mar

[2017-06-20 18:11] briemarie commented on #112
The example from the README loads a map with a marker dropped on Russian Hill in SF. If I change the address to another city though (Sydney, Australia for example), the map still loads on San Francisco, but no marker is set (which is obviously coming from the lat and lng that is still set on the g-map component).

If I remove the lat and lng and replace with markersFitMode (which is what I need si

[2017-06-20 18:56] briemarie commented on #112
Ok, this ticket can be closed. Thank you for all of your help.

Aside from the markersFitMode='init' still not working, I have successfully gotten the map to load on the correct address so long as I provide a valid full address (street, city, state). Any of those address pieces alone are not accurate, but I suppose that is to be expected.

One shortcoming I do see though is that if the street addr

[2017-07-03 16:47] steveszc commented on #112
Thanks, glad you got it figured out.

[2017-07-03 16:47] #112 closed

[2017-07-31 12:51] jonnedeprez opened #116 "rendering issues"
I often got rendering issues where Google Maps was showing only half of the map tiles. I dug into it and found out that in my case the component was already rendering the map before the height of the container had  been calculated by the browser. I fixed the issue, and a PR will follow.

[2017-11-09 22:39] bttf opened #119 "Markers are not showing"
I have the following code, but no markers. I tried zooming out as well. Not sure what's wrong here. Am I missing something?

[code]

[2017-11-09 22:44] Mithrilhall commented on #119
Can you recreate the problem in a [Twiddle](https://ember-twiddle.com/)?

[2017-11-09 22:55] steveszc commented on #119
You have a typo {{g-map-marker context lat=space**.latitutde** lng=space.longitude}}

[2017-11-09 23:07] bttf commented on #119
I don't think I'll ever live down the shame. Thank you

[2017-11-09 23:07] #119 closed

[2017-12-01 03:15] pohodnya opened #120 "Add panControl, zoomControl, mapTypeControl, streetViewControl, mapTypeId, scrollwheel"
Can you add some properties to your component?
panControl: true/false
zoomControl: true/false
mapTypeControl: true/false
streetViewControl: true/false
mapTypeId: 'roadmap', satellite', 'hybrid', 'terrain'
scrollwheel: true/false

[2017-12-06 18:34] steveszc commented on #120
Any of these options can be added to an options object and passed into the `g-map` component via the `options` property.

[2017-12-06 18:34] #120 closed

[2017-12-06 18:35] #105 closed

[2017-12-06 18:36] #86 closed

[2017-12-06 18:37] #60 closed

[2017-12-06 18:38] #63 closed

[2017-12-06 18:38] #55 closed

[2017-12-06 18:39] #88 closed

[2017-12-06 18:39] #92 closed

[2017-12-06 18:40] steveszc opened #121 "Extract the google map into a service"
Extracting the google map object into a service will allow this addon to cleanly expose the google maps api to the host ember application.

[2017-12-13 07:43] jayvarner opened #122 "Geolocation Support?"
Thanks for all the work here. This addon works great.

Is there any interest in adding support to [display a user's or device's position](https://developers.google.com/maps/documentation/javascript/geolocation)? I'm happy to make a PR with my fork that adds a [g-map-geolocation](https://github.com/jayvarner/ember-g-map/blob/feature/geolocation/addon/components/g-map-geolocation.js) component. It s

[2017-12-13 17:14] steveszc commented on #122
I like the idea (its a use case I've worked on in my app at work), but I think the geolocation/navigator functionality belongs in a service, and at that point it creeps beyond the scope of this add-on.

There are already other add-ons that cover the geolocation API (ex. https://github.com/igorpreston/ember-cli-geo), and its pretty straightforward to wire that up to a g-map-marker component.

I'm o

[2017-12-13 17:14] #122 closed

[2018-01-25 22:20] steveszc opened #123 "Use Ember Modules API"
https://www.emberjs.com/blog/2017/10/11/ember-2-16-released.html#toc_updating-your-addons

[2018-01-26 20:46] steveszc opened #124 "Update ember-cli-babel dependency"
The ember-cli-babel dependency should be updated to the latest version to allow consuming apps to drop ember-cli-shims as a dependency of ember 2.16+ apps.
https://www.emberjs.com/blog/2017/11/20/ember-2-17-released.html#toc_changes-in-ember-cli-2-17

[2018-02-01 21:53] IdrisHanafi opened #125 "How do I draw a curved polyline between two markers?"
I've seen examples using this method:

[code]

But I'm not too sure how to go about implementing that with your API.

[2018-02-01 22:54] steveszc commented on #125
You could use the `g-map-polyline` polyline component to do this.
[code]
pathDef could be a computedProperty that takes the two marker positions and uses the method you provided above to return the path.

[2018-02-02 16:27] #125 closed

[2018-02-06 03:39] IdrisHanafi opened #126 "Custom onClose event"
I have a g-map-marker and inside of it has a g-map-infowindow:

      {{#g-map-marker contextlat=37.7733 lng=-122.4067 as |markerContext|}}
                {{#g-map-infowindow markerContext openOn="mouseover" closeOn="customClose"}}
                    test infowindow
                {{/g-map-infowindow}}
            {{/g-map-marker}}

The infowindow opens up on mouseover and I am trying to get it

[2018-02-06 23:26] steveszc commented on #126
Per the README, available options for closeOn are: `click`, `dblclick`, `rightclick`, `mouseover`, `mouseout`.  I don't believe what you're trying to do is possible using closeOn.
You best bet may be to write your own version of the `g-map-infowindow` component (or extend the component) in order to implement this custom close logic that you require. You'll need to register a mouseout event listene

[2018-02-06 23:26] #126 closed

[2018-02-23 14:08] arturalkaim opened #127 "Using ember-g-map from China breaks my app"
The url `https://maps.googleapis.com/maps/api/js` is blocked in China and `http://maps.google.cn/maps/api/js` should be used instead.

https://developers.google.com/maps/documentation/javascript/localization#GoogleMapsChina

Is there a way to handle this? Or only gracefully handle the error without breaking everything?

Thank you!

[2018-02-23 18:29] steveszc commented on #127
I think the quickest fix would be to use the `exclude: true` option in `config/environment.js` and handle loading the google maps script yourself in your index.html. The best solution i can think of is to serve a different version of your index.html (with the google.cn script src) to users in China.

It'd be great if we could find a way to have the addon handle this, but I'm not sure there's a bul

[2018-02-23 18:48] arturalkaim commented on #127
On my index.html I have:
[code]

This way at least it's not breaking. This would also allow you to always load something in the plugin code.

But thanks! Your suggestion will probably fix my issue.

[2018-02-23 19:56] steveszc commented on #127
I added a note about this in the readme in PR #128
I will leave this issue open for now. I think the solution @arturalkaim shared is reasonable but may not be appropriate as a default behavior for the addon. I'd still like to solve this in the addon though.

[2018-04-19 17:31] steveszc commented on #123
fixed in #131

[2018-04-19 17:31] #123 closed

[2018-04-19 17:31] steveszc commented on #124
fixed in #131

[2018-04-19 17:31] #124 closed

[2018-06-13 15:07] guillaume-lajambe opened #132 "Rendering Route Waypoints"
In some case, the registerWaypoints, send from waypoint component, execute faster the UpdateRoute method.

When it happen, some waypoints are skipped and missing in the rendered route.

[2018-06-14 13:34] guillaume-lajambe opened #134 "Optimize Waypoints on Route"
When you create a route. It is possible to add a argument to optimize waypoints when we do a request to the direction service of google map.

See below from google dev doc. (https://developers.google.com/maps/documentation/javascript/directions)

[code]

Would be great to these option and use it when creating route with waypoint.

[2018-06-18 14:47] viccatoff opened #135 "Doesn't work with Ember 3 in IE11"
It shows an error:

And application stops to work.

Steps to reproduce:
1. Create new ember 3 project
2. Add `ember-g-map`
3. `ember serve`
4. open index page
5. default ember page isn't show up and in dev console you will see this error

In ember 2 it works.

[2018-07-19 15:47] papricek commented on #135
+1, happens to me as well...

[2018-09-17 01:04] ske99ey opened #136 "Deprecated ember-cli-babel version"
Please update the version of ember-cli-babel:
DEPRECATION: ember-cli-babel 5.x has been deprecated. Please upgrade to at least ember-cli-babel 6.6. Version 5.2.8 located: my_project -> ember-g-map -> ember-cli-babel

[2019-03-08 13:15] olegstepura opened #138 "Memory leak introduced by Google Maps"
Hi!
We've been using `ember-g-map` for some time.
But we faced an issue possibly with google maps and I wonder if you are aware of it and maybe have some thought on fixing it.

I'm talking about memory leaks which Google Maps produce because there is no proper cleaning after we remove a map from page.
Here is an issue reported to google years ago https://issuetracker.google.com/issues/35821412
And

[2019-03-27 12:49] alanlalonde opened #139 "Abandoned package?"
No commits have been pushed or pull requests merged in nearly a year and nobody seems to be checking active pull requests, so has this repository and published package been abandoned by all current maintainers? This is especially of concern due to #136 being a soon-to-be critical blocker for any further use of the add-on in new ember projects.

If this is the case, an organization called [adopted-

[2019-06-03 10:47] shiereubimestrada123 opened #140 "Map is not showing on actual iPhone device"
Hi, we are currently implementing ember-g-map in our project. When checking on device toolbar on  chrome devtools everything is working fine on iPhone view, but on the actual device the map is not showing.
Any ideas on how to fix this one? Thanks.

[2019-06-12 14:50] keanedawg commented on #135
I believe this maybe an issue with polyfills. I believe this addon uses some sort of function not supported in IE11. We had a similar issue on one of our sites.

Add this setting to your ember-cli-build.js file.

[code]

[2019-10-08 21:39] steveszc commented on #139
I haven't been using this add-on at work or personally since May 2018. I'd be happy to re-allocate some time to maintaining/updating the package, but I've never had npm publish permissions. The last npm publish was April 2017. Even if we do the work of updating things to work with the latest versions of ember (Octane), I'm not sure it'd be possible to get it published without going through the dis

[2020-04-30 14:23] ianpetzer commented on #138
Hi @olegstepura,

I saw in https://github.com/sandydoo/ember-google-maps/issues/51 that you said you have a solution for this problem that works with ember-g-map. Is this maybe in a forked repo or a public repo so that I could re-use the same solution?

[2021-05-14 19:52] EstesE commented on #66
If I set 'exclude' to true how would I go about loading the Google Maps API manually?

[2021-05-14 20:31] steveszc commented on #66
Totally up to you. You could drop a script tag in your index.html, or you could dynamically create a script tag and insert it into the document when a route is visited or a component is rendered.

Here's an example of how you could dynamically load it.
https://github.com/sandydoo/ember-google-maps/blob/main/addon/services/google-maps-api.js

Worth mentioning that this repo is more or less in maint